## pandas time series
A series or dataframe using a datetime index instead of a rnage index

In [4]:
import pandas as pd 
import numpy as np

### creating a datetimeindex
use date_range() with 3 of the 4 parameters

In [19]:
datatimeindex= pd.date_range(start='2018-01-01', end='2019-12-31', freq="D")
datatimeindex

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
               '2019-12-26', '2019-12-27', '2019-12-28', '2019-12-29',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=730, freq='D')

In [20]:
df =pd.DataFrame(
    dict(
        n= range(len(datatimeindex)),
        rand= np.random.random(len(datatimeindex))
    ), index=datatimeindex
)
df

              n      rand
2018-01-01    0  0.691853
2018-01-02    1  0.015280
2018-01-03    2  0.417140
2018-01-04    3  0.294939
2018-01-05    4  0.857702
...         ...       ...
2019-12-27  725  0.209051
2019-12-28  726  0.560019
2019-12-29  727  0.379486
2019-12-30  728  0.947084
2019-12-31  729  0.534673

[730 rows x 2 columns]

In [23]:
df.loc["2018-03-15"]
df.loc["2018-01-15"]
df.loc["2018-03-15":"2018-03-20"]
df.loc["2018-03"]
df.loc["2019"]
df.loc["2019-03-29":"2019-05"]

              n      rand
2019-03-29  452  0.863263
2019-03-30  453  0.732737
2019-03-31  454  0.246608
2019-04-01  455  0.559901
2019-04-02  456  0.952776
...         ...       ...
2019-05-27  511  0.590857
2019-05-28  512  0.865732
2019-05-29  513  0.374737
2019-05-30  514  0.408015
2019-05-31  515  0.636042

[64 rows x 2 columns]

### Resampling 
Resampling is the practice of creating new sample with a lower or higher frequency than the original data.

### Downsampling 
When the sample frequency is lower than the original we can aggregate values from the original data.

In [28]:
from helpers import hdisplay
hdisplay()
df.resample("2D").agg({"n": "max", "rand": "sum" })

              n      rand
2018-01-01    1  0.707133
2018-01-03    3  0.712078
2018-01-05    5  1.118916
2018-01-07    7  1.731653
2018-01-09    9  0.835192
...         ...       ...
2019-12-22  721  0.485025
2019-12-24  723  0.391088
2019-12-26  725  0.654311
2019-12-28  727  0.939506
2019-12-30  729  1.481757

[365 rows x 2 columns]